:root {
  /* Destaques */
  --corDestaque: #bfc2ff;
  --corTextoDestaque: #212578;
  --corFundoDestaque: #bfc2ff;

  --corFundoDestrutivo: #93000a;
  --corTextoDestrutivo: #ffdad6;
  --corDestrutiva: #ffb4ab;

  --corFundoSucesso: #374B3E;
  --corTextoSucesso: #D1E9D6;
  --corSucesso: #B5CCBA;

  /* Superfícies principais */
  --corFundoJanela: #131313;
  --corTextoJanela: #e2e2e2;

  --corFundoBarraCabecalho: #1f1f1f;
  --corFundoInativoBarraCabecalho: #1f1f1f;
  --corTextoBarraCabecalho: #e2e2e2;

  --corFundoCartao: #1f1f1f;
  --corTextoCartao: #e2e2e2;

  --corFundoBarraLateral: #1f1f1f;
  --corTextoBarraLateral: #e2e2e2;
  --corFundoBarraLateralSecundaria: #1b1b1b;
  --corTextoBarraLateralSecundaria: #e2e2e2;
  --corBordaBarraLateral: var(--corFundoBarraLateral);
  --corFundoInativoBarraLateral: var(--corFundoBarraLateral);

  --corFundoVisualizacao: #0e0e0e;
  --corTextoVisualizacao: #e2e2e2;

  --corFundoVisaoGeral: #0e0e0e;
  --corTextoVisaoGeral: #e2e2e2;

  /* Pop-ups e diálogos */
  --corFundoPopUp: #353535;
  --corTextoPopUp: #e2e2e2;

  --corFundoDialogo: #2a2a2a;
  --corTextoDialogo: #e2e2e2;
}
